.background{
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.topbar{
    width: 1200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-image: linear-gradient(grey,white );
}

.whiteRectangleLanding{
    width: 1200px;
    height: 550px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: linear-gradient(grey,white );
    margin-left: auto;
    margin-right: auto;
}

.whiteRectanglePortfolio{
    width: 1200px;
    height: 1600px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: linear-gradient(grey,white );
    margin-left: auto;
    margin-right: auto;
}

.buttonalign{
    display: flex;
    justify-content: space-between;
}

.button{
  background-color: grey; 
  border: none;
  position: relative;
  color: white;
  /*padding: 5px 70px;*/
  height: 30px;
  width: 225px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(212, 183, 18, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.websiteTitle{
    text-align: center;
    text-shadow: 2px 2px 4px whitesmoke;
    color: black;
}

.bufferspace{
    height: 15px;
}

.buttonbuffer{
    width: 10px;
}

.alignCenter{
    text-align: center;
}

.alignRight{
    text-align: right;
}

.alignLeft{
    text-align: left;
}

.textspacePortfolio1{

    width: 700px;
    height: 150px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: black;
    margin-left: auto;
    margin-right: auto;

}

.textspaceAboutme1{
    width: 500px;
    height: 150px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: black;
    margin-left: auto;
    margin-right: auto;
}