/*Sets the backgound of the website*/
.background{
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/*Top bar of the website*/
.topbar{
    width: 1200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-image: linear-gradient(grey,white );
}

/*alligns buttons together*/
.buttonalign{
    display: flex;
    justify-content: space-between;
}

/*general button class*/
.button{
  background-color: grey; 
  border: none;
  position: relative;
  color: white;
  /*padding: 5px 70px;*/
  height: 30px;
  width: 225px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

/*hovoer animation class*/
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(212, 183, 18, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*website title class*/
.websiteTitle{
    text-align: center;
    text-shadow: 2px 2px 4px whitesmoke;
    color: black;
}

/*buffer classes*/
.bufferspace{
    height: 15px;
}
.buttonbuffer{
    width: 10px;
}
.bufferVertical{
    width: 15px;
}

/*alignment classes*/
.alignCenter{
    text-align: center;
}
.alignRight{
    text-align: right;
}
.alignLeft{
    text-align: left;
}
.rowalign{
    display: flex;
    justify-content: space-between;
}
