/*Sets the backgound of the website*/
.background{
    background-image: url(pictures/White_backgorund.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/*Top bar of the website*/
.topbar{
    width: 1200px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    background-image: linear-gradient(white,whitesmoke );
    border-radius: 12px;
}

/*alligns buttons together*/
.buttonalign{
    display: flex;
    justify-content: space-between;
}

/*general button class*/
.button{
  background-color: green; 
  border: none;
  position: relative;
  color: white;
  /*padding: 5px 70px;*/
  height: 30px;
  width: 225px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.button {border-radius: 4px;}

/*hovoer animation class*/
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(212, 183, 18, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*website title class*/
.websiteTitle{
    text-align: center;
    text-shadow: 2px 2px 4px whitesmoke;
    color: black;
}

/*buffer classes*/
.bufferspace{
    height: 15px;
}
.bufferspacesmall{
    height: 5px;
}
.buttonbuffer{
    width: 10px;
}
.bufferVertical{
    width: 15px;
}

/*alignment classes*/
.alignCenter{
    text-align: center;
}
.alignRight{
    text-align: right;
}
.alignLeft{
    text-align: left;
}
.rowalign{
    display: flex;
    justify-content: space-between;
}

.clearfix img {
    margin-right: 20px;
}

/*whitespace classes*/

/*whitespace for the Landing page**/
.whiteRectangleLanding{
    width: 1200px;
    height: 550px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: linear-gradient(grey,white );
    margin-left: auto;
    margin-right: auto;
}

/*whitespace for the portfolio page**/
.whiteRectanglePortfolio{
    width: 1200px;
    height: 1750px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: linear-gradient(grey,white );
    margin-left: auto;
    margin-right: auto;
}

/*whitespace for the about me page**/
.whiteRectangleAboutMe{
    width: 1200px;
    height: 1225px;
    /*border: 5px solid black;*/
    /*background-color: white;*/
    background-image: linear-gradient(grey,white );
    margin-left: auto;
    margin-right: auto;
}

/*whitespace for qualifications page*/
.whiteRectangleQualifications{
    width: 1200px;
    height: 650px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: linear-gradient(grey,white );
    margin-left: auto;
    margin-right: auto;
}

/*whitespace for the Service**/
.whiteRectangleService{
    width: 1200px;
    height: 1000px;
    border: 5px solid black;
    /*background-color: white;*/
    background-image: linear-gradient(white,green );
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

/*text space classes*/



/*Image placement and asthetic classes*/
/* About me Images*/
.AMIMG1{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 12px;

}

.AMIMG2{
    height: 250px;
    width: 500px;

}

/*qualifications images*/
.QIMG1{
    height: 300px;
    width: 500px;

}

.imageWide{
    height: 500px;
    width: 800px;
    border: 5px solid black;
    border-radius: 12px;

}

/*Jumbotron text class*/

.jumbotronText{
    margin-left: auto;
    margin-right: auto;
}