/* About me Images*/
.AMIMG1{
    height: 500px;
    width: 500px;
    border: 5px solid black;
    border-radius: 12px;

}

.AMIMG2{
    height: 250px;
    width: 500px;

}

/*qualifications images*/
.QIMG1{
    height: 300px;
    width: 500px;

}